<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book app</title>
  <%- include('../layout/style-link') %>
</head>
<header>
 <h1>Hello world!!</h1>
 <% userBooks.forEach(book =>{ %>
 <div class="book-card">
  <img src="<%= book.image_url %><" alt="<%= book.title %>">
  <h3><%= book.title %></h3>
  <span><%= book.authors %></span>
  <p><%= book.description %></p>
</div>
 <% }) %>
</header>
<body>
  <%- include('../layout/footer') %>
</body>
</html>